
* {
	font-family: Arial;
}

.container {
	display: block;
	margin-bottom: 10px;
}

input {
	display: block;
}

textarea {
	display: block;
	width: 100%;
}

.fl {
	display: flex;
	justify-content: space-between;
}