#uiStopSearch *{
	list-style: none;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

#uiStop{
/*	background: #fee;*/
}


#uiStopSearch {
	padding: 0 10px;
	position: relative;
}

#uiStopSearch ul li {
	background: #fff;
	width: calc(100% - 10px);
	padding: 5px;
	margin-bottom: 2px;
	color: #000;
	font-family: "Open Sans",Arial,Helvetica,sans-serif;
}

#autocomplete {
	background: #aaa;
	width: calc(100% - 4px);
	border: 2px solid #aaa;
	border-top: none;
	border-bottom: 1px solid #aaa;
}

#uiStopSearch ul li:hover {
	background-color: #a00;
	color: #fff;
}

#uiStopSearch input {
	border: 2px inset;
}

#uiStopSearch #autocomplete {
	display: none;
}