* {
font-family: Arial;
}

#networkInfo {
	display: flex;
	justify-content: space-between;
	margin: 10px;
	height: 24px;
}

#networkStatus * {
	display: none;
	height: 24px;
	width: 24px;
}

#settings *, #share * {
margin: 0;
height: 24px;
padding: 0;
cursor: pointer;
}






/****************************************************************************************
darkmode
*****************************************************************************************/

.dark * {
	font-family: Arial;
	color: #fff
}

.dark#bdy {
	background: #222;
}

.dark #share, .dark #settings {
	filter: invert(1);
	-webkit-filter: invert(1);
}

.amodark#bdy {
	background-color: #000;
}
